$font-prefix: '@ibm/plex';

@import '@ibm/plex/scss/ibm-plex.scss';

:root {
  --font-title-1: normal normal 400 3.293rem/1.5 "IBM Plex Sans";
  --font-title-2: normal normal 400 2.352rem/1.5 "IBM Plex Sans";
  --font-title-3: normal normal 500 1.68rem/1.5 "IBM Plex Sans";
  --font-title-4: normal normal 500 1.2rem/1.5 "IBM Plex Sans";

  --font-caption: normal normal 400 0.857rem/1.5 "IBM Plex Sans";

  --font-body: normal normal 400 1.2rem/1.5 "IBM Plex Sans";
}
