@use "borders";
@use "colors";
@use "fonts";
@use "paddings";
@use "reset";
@use "scrollbar";
@use "shadows";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'IBM Plex Sans';
  text-rendering: optimizeLegibility;
}

#app {
  height: 100%;
  width: 100%;
}
