:root {
  --neutral-60: #f8f7ff;
  --neutral-70: #d9d9e7;
  --neutral-80: #bdbbcf;
  --neutral-90: #a2a0b6;
  --neutral-100: #89879e;
  --neutral-110: #727086;
  --neutral-120: #5c5a6e;
  --neutral-130: #474655;
  --neutral-140: #32313d;
  --neutral-150: #1e1e25;
  --neutral-160: #0a0a0d;

  --plum-60: #ffacea;
  --plum-70: #fa85dd;
  --plum-80: #f35fce;
  --plum-90: #e83ebe;
  --plum-100: #d924ac;
  --plum-110: #c41197;
  --plum-120: #a90480;
  --plum-130: #880066;
  --plum-140: #63004a;
  --plum-150: #3d002e;
  --plum-160: #190013;

  --indigo-60: #d3acff;
  --indigo-70: #bc85fa;
  --indigo-80: #a45ff3;
  --indigo-90: #8d3ee8;
  --indigo-100: #7824d9;
  --indigo-110: #6411c4;
  --indigo-120: #5104a9;
  --indigo-130: #400088;
  --indigo-140: #2e0063;
  --indigo-150: #1c003d;
  --indigo-160: #0c0019;

  --blue-60: #ace2ff;
  --blue-70: #85d1fa;
  --blue-80: #5fbff3;
  --blue-90: #3eade8;
  --blue-100: #249ad9;
  --blue-110: #1185c4;
  --blue-120: #046fa9;
  --blue-130: #005888;
  --blue-140: #004063;
  --blue-150: #00283d;
  --blue-160: #001119;

  --chocolate-60: #ffe2ac;
  --chocolate-70: #fad185;
  --chocolate-80: #f3bf5f;
  --chocolate-90: #e8ad3e;
  --chocolate-100: #d99a24;
  --chocolate-110: #c48511;
  --chocolate-120: #a96f04;
  --chocolate-130: #885800;
  --chocolate-140: #634000;
  --chocolate-150: #3d2800;
  --chocolate-160: #191100;

  --green-60: #acffe0;
  --green-70: #85facf;
  --green-80: #5ff3bd;
  --green-90: #3ee8aa;
  --green-100: #24d997;
  --green-110: #11c482;
  --green-120: #04a96d;
  --green-130: #008856;
  --green-140: #00633f;
  --green-150: #003d27;
  --green-160: #001910;

  --success-green-100: #24a148;
  --success-green-100: oklch(0.6234 0.166 148.09);
  --success-green-105: #24a148;
  --success-green-105: oklch(calc(0.6234 / 1.05) 0.166 148.09);

  --warning-yellow-100: #ff832b;
  --warning-yellow-100: oklch(0.7378 0.177 50.58);
  --warning-yellow-105: #ff832b;
  --warning-yellow-105: oklch(calc(0.7378 / 1.05) 0.177 50.58);

  --error-red-100: #da1e28;
  --error-red-100: oklch(0.5692 0.217 25.93);
  --error-red-105: #da1e28;
  --error-red-105: oklch(calc(0.5692 / 1.05) 0.217 25.93);
}
