:root {
  --neutral-30: #f8f7ff;
  --neutral-40: #e8e8f3;
  --neutral-50: #d9d9e7;
  --neutral-60: #cbcadb;
  --neutral-70: #bdbbcf;
  --neutral-80: #a2a0b6;
  --neutral-90: #89879e;
  --neutral-100: #727086;
  --neutral-110: #5c5a6e;
  --neutral-120: #474655;
  --neutral-130: #32313d;
  --neutral-140: #1e1e25;
  --neutral-150: #0a0a0d;

  --plum-30: #ffccf2;
  --plum-40: #f3b0e2;
  --plum-50: #e796d3;
  --plum-60: #db7ec4;
  --plum-70: #cf68b5;
  --plum-80: #b6449a;
  --plum-90: #9e2a81;
  --plum-100: #86186b;
  --plum-110: #6e0d55;
  --plum-120: #550642;
  --plum-130: #3d022e;
  --plum-140: #25001c;
  --plum-150: #0d000a;

  --indigo-30: #deccff;
  --indigo-40: #c7b0f3;
  --indigo-50: #b296e7;
  --indigo-60: #9f7edb;
  --indigo-70: #8c68cf;
  --indigo-80: #6c44b6;
  --indigo-90: #532a9e;
  --indigo-100: #3f1886;
  --indigo-110: #2f0d6e;
  --indigo-120: #220655;
  --indigo-130: #17023d;
  --indigo-140: #0d0025;
  --indigo-150: #04000d;

  --blue-30: #ccedff;
  --blue-40: #b0dcf3;
  --blue-50: #96cbe7;
  --blue-60: #7ebadb;
  --blue-70: #68abcf;
  --blue-80: #448eb6;
  --blue-90: #2a769e;
  --blue-100: #186086;
  --blue-110: #0d4c6e;
  --blue-120: #063a55;
  --blue-130: #02293d;
  --blue-140: #001825;
  --blue-150: #00080d;

  --chocolate-30: #ffedcc;
  --chocolate-40: #f3dcb0;
  --chocolate-50: #e7cb96;
  --chocolate-60: #dbba7e;
  --chocolate-70: #cfab68;
  --chocolate-80: #b68e44;
  --chocolate-90: #9e762a;
  --chocolate-100: #866018;
  --chocolate-110: #6e4c0d;
  --chocolate-120: #553a06;
  --chocolate-130: #3d2902;
  --chocolate-140: #251800;
  --chocolate-150: #0d0800;

  --green-30: #ccffec;
  --green-40: #b0f3da;
  --green-50: #96e7c9;
  --green-60: #7edbb9;
  --green-70: #68cfa9;
  --green-80: #44b68d;
  --green-90: #2a9e74;
  --green-100: #18865e;
  --green-110: #0d6e4a;
  --green-120: #065538;
  --green-130: #023d28;
  --green-140: #002518;
  --green-150: #000d08;
}
