:root {
  --neutral-40: #f8f7ff;
  --neutral-50: #d9d9e7;
  --neutral-60: #bdbbcf;
  --neutral-70: #a2a0b6;
  --neutral-80: #89879e;
  --neutral-90: #727086;
  --neutral-100: #5c5a6e;
  --neutral-110: #474655;
  --neutral-120: #32313d;
  --neutral-130: #1e1e25;
  --neutral-140: #0a0a0d;

  --plum-40: #e673c9;
  --plum-50: #e15cc0;
  --plum-60: #db45b5;
  --plum-70: #d131a9;
  --plum-80: #c4219b;
  --plum-90: #b1148a;
  --plum-100: #990b76;
  --plum-110: #7c055e;
  --plum-120: #5b0245;
  --plum-130: #39002b;
  --plum-140: #190013;

  --indigo-40: #9b73e6;
  --indigo-50: #8a5ce1;
  --indigo-60: #7945db;
  --indigo-70: #6931d1;
  --indigo-80: #5a21c4;
  --indigo-90: #4b14b1;
  --indigo-100: #3d0b99;
  --indigo-110: #2f057c;
  --indigo-120: #21025b;
  --indigo-130: #140039;
  --indigo-140: #090019;

  --blue-40: #73bde6;
  --blue-50: #5cb3e1;
  --blue-60: #45a6db;
  --blue-70: #3199d1;
  --blue-80: #218bc4;
  --blue-90: #147ab1;
  --blue-100: #0b6899;
  --blue-110: #05527c;
  --blue-120: #023c5b;
  --blue-130: #002539;
  --blue-140: #001119;

  --chocolate-40: #e6bd73;
  --chocolate-50: #e1b35c;
  --chocolate-60: #dba645;
  --chocolate-70: #d19931;
  --chocolate-80: #c48b21;
  --chocolate-90: #b17a14;
  --chocolate-100: #99680b;
  --chocolate-110: #7c5205;
  --chocolate-120: #5b3c02;
  --chocolate-130: #392500;
  --chocolate-140: #191100;

  --green-40: #73e6bb;
  --green-50: #5ce1b0;
  --green-60: #45dba4;
  --green-70: #31d196;
  --green-80: #21c488;
  --green-90: #14b178;
  --green-100: #0b9965;
  --green-110: #057c50;
  --green-120: #025b3a;
  --green-130: #003924;
  --green-140: #001910;

  --warning-yellow: #f9ab2a;
  --error-red: #d01a59;
  --success-green: #40ea90;
}
