:root {
  --padding-1-horizontal: 10px 16px;
  --padding-2-horizontal: 16px 20px;
  --padding-3-horizontal: 18px 32px;

  --padding-1-vertical: 24px 20px;
  --padding-2-vertical: 32px 26px;
  --padding-3-vertical: 40px 32px;

  --padding-1-square: 10px;
  --padding-2-square: 16px;
  --padding-3-square: 24px;
}
