:root {
  --shadow-color: var(--neutral-150);

  --shadow-1: 2px 2px 6px 0 var(--shadow-color);
  --shadow-2: 4px 4px 12px 0 var(--shadow-color);
  --shadow-3: 8px 8px 30px 0 var(--shadow-color);
  --shadow-4: 10px 10px 40px 0 var(--shadow-color);
  --shadow-5: 12px 12px 50px 0 var(--shadow-color);
  --shadow-6: 14px 14px 60px 0 var(--shadow-color);
}
